
//=========================================
//
// zigexn z_template style guide color.scss
//    date: 2017.3.22
//  author: vancho
// version: 0.9.1
//
//=========================================
$primary-color-dark:   #455a64;
$primary-color:        #607d8b;
$primary-color-light:  #cfd8dc;
$primary-color-text:   #fff;
$accent-color:         #ff5252;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #bdbdbd;
