//=========================================
//
// zigexn z_template style guide footer.scss
//    date: 2017.3.22
//  author: vancho
// version: 0.9.1
//
//=========================================
.main-footer{
  margin-top: 16px;
  padding: 16px;
  background: $primary-color-light;
  footer{
    margin-top: 0;
  }
  p{
    margin: 0;
  }
}

